{% extends "blog/base.html" %}

{% block title %}Blog Home Page | BigBucket {% endblock  %}

{% block css %}
    <style>
        *{
          font-family: 'Josefin Sans', sans-serif;
        }
        .blogThumbnail{
            width: 240px;
            height: 160px;
        }
    </style>
{% endblock  %}
{% block body %}
    <div class="container mt-5">
        <div class="row mb-2">
            {% for blog in blogposts %}
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary fs-4">{{ blog.blogTitle }}</strong>
                            <div class="mb-1 text-muted">{{ blog.postDate }}</div>
                            <p class="card-text mb-auto">{{ blog.headingContent }}</p>
                            <a href="{% url 'blog:blogPost' blog.id %}" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="/media/{{ blog.postThumbnail }}" alt="" class="blogThumbnail">
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                    </div><div class="row mb-2">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock  %}