{% extends "shop/base.html" %}
{% load static %}

{% block title %}HomePage - Shop|Big Bucket{% endblock  %}
{% block css %}
    <style>
        *{
            font-family: 'Josefin Sans', sans-serif;
        }

        .card{
            display: inline-block;
            margin-right: 20px;
        }
        .carousel-indicators{
            bottom: -20px;
        }
        .carousel-control-next, .carousel-control-prev
        {
            height: 0%;
            width: 86px;
            top: 50%;
        }
        .popover{
            height: 18.125rem;
            overflow: auto;
        }
    </style>
{% endblock  %}

{% block body %}
    <div class="container my-3 align-items-center">
        {% for product, no_of_product, range_slides, category in products %}
            {% if product %}
                <div class="row my-5">
                    {% include "shop/includes/productCarousel.html" %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock  %}
{% block js %}
    <script src="{% static 'shop/js/index.js' %}"></script>
{% endblock %}