{% extends "shop/base.html" %}
{% load static %}

{% block title %}Payment Success - Shop|Big Bucket{% endblock  %}

{% block css %}
    <style>
        *{
            font-family: 'Josefin Sans', sans-serif;
        }
        body
        {
            background:#f2f2f2;
        }

        .payment
	    {
            border:1px solid #f2f2f2;
            height:280px;
            border-radius:20px;
            background:#fff;
        }
        .payment_header
        {
            background:rgba(255,102,0,1);
            padding:20px;
            border-radius:20px 20px 0px 0px;
        }
   
        .check
        {
            margin:0px auto;
            width:50px;
            height:50px;
            border-radius:100%;
            background:#fff;
            text-align:center;
        }
   
        .check i
        {
            vertical-align:middle;
            line-height:50px;
            font-size:30px;
        }

        .content 
        {
            text-align:center;
        }

        .content  h1
        {
            font-size:25px;
            padding-top:25px;
        }

        .content button
        {
            width:200px;
            height:35px;
            color:#fff;
            border-radius:30px;
            padding:5px 10px;
            background:rgba(255,102,0,1);
            transition:all ease-in-out 0.3s;
            text-decoration: none;
        }
        .content button:hover
        {
            text-decoration:none;
            background:#000;
        }
        #success-icon{
            color:rgba(255,102,0,1);
            font-size: 48px;
        }
    </style>
{% endblock  %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto mt-5">
                <div class="payment">
                    <div class="payment_header">
                    <div class="check">
                        <i class='bx bxs-check-circle bx-tada' id="success-icon"></i>
                    </div>
                    </div>
                    <div class="content">
                        <h1>Payment Success !</h1>
                        <p>Your Order has been successfully placed. Thanks for Using Big Bucket...Place your next order soon!!</p>
                        <button id="homeButton">Go to Home</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $('#homeButton').on("click", function(e){
            localStorage.clear()
            document.location = '/shop';
        })
    </script>
{% endblock %}